/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section

body {
  font-size: 14px;
  line-height: 1;
}

nav {
  background-color: gray;
  height: 100px;
  margin-top: 10px 0 auto;
  position: center;
  width: 100%;
}

/*This controls the data or information included in the h1 tag*/

 h1 {
    font-family sans-serif;
    font-size: 2em;
  }
/*This line organizes and adds depth to the information included in the div tage example in the h1 heading*/

.example, h1 {
  font-family: Helvetica;
  font-style: normal ;
  margin: 0 auto;
  position:center;
  width: 60%;
}

h3 {
  font-family: Helvetica;
  font-size: 1.3em;
}

div {
  font-family: Helvetica;
  background-color: green;
  height: 50vh
  width: 1200px;
}
/*These are the div elements that appear under section*/
div.element {
  background-color: blue;
}

div.feature {
  background-color: purple;
}

div.source {
  background-color: orange;
}

div.element1 {
  background-color: green;
}

div.element2 {
  background-color: yellow;
}

div.element3 {
  background-color: red;
}

div.element4 {
  background-color: blue;
}

div.element5 {
  background-color: purple;
}

div.element6 {
  background-color: orange;
}

/** This is the ordered list that appears in h3 **/
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
